<!-- <div class="col-md-3 position-relative"> 
  <div ng-controller="ExampleController">
    <label for="validationTooltip01" class="form-label"><strong>Selecione categoryId</strong></label>
    <select class="form-select" aria-label="Default select example" [(ngModel)]="categories.parentId" name="categoryId"
      ng-model="categorias.name">
      <option *ngFor="let categoria of categorias" value="{{fretes.price}}">{{fretes.bairro}}</option>
    </select>
  </div>
</div> -->


<select class="form-select" aria-label="Default select example">
  <option selected>Bairro</option>
  <option *ngFor="let frete of fretes" value="{{frete.price}}">{{frete.bairro}}</option>
</select>