<!DOCTYPE html>
<html lang="en">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

<body>
  <!-- <div class="container-X-Large d-flex justify-content-end">
    <div class="compartilhar">
      <a href="" data-placement="top" title="Linkedin"><i class="fa fa-share-alt-square"></i></a>
    </div>
  </div> -->
  <router-outlet></router-outlet>

  <!-- FOOTER SECTION START -->
  <section class="fn-footer">
    <!-- FOOTER BOTTOM -->
    <div class="d-flex flex-row justify-content-end">
      <div class="d-flex justify-content-start">
        <p>
          <span>&copy; euquias </span><a href="https://api.whatsapp.com/send?phone=5561991631462"
            target="_blank">Serviços
            de
            tecnologia</a>
        </p>
      </div>
      <div class="d-flex justify-content-end">
        <ul class="social-network">
          <li><a href="https://api.instagram.com/euquiasaraujo85" data-placement="top" title="instagram"><i
                class="fa fa-instagram"></i></a>
          </li>
          <li><a href="https://api.whatsapp.com/send?phone=5561991631462" data-placement="top" title="whatsapp"><i
                class="fa fa-whatsapp"></i></a></li>
          <li><a href="https://www.linkedin.com/in/euquias-araujo-326271219" data-placement="top" title="Linkedin"><i
                class="fa fa-linkedin"></i></a></li>
          <li><a href="https://github.com/euquias" data-placement="top" title="Linkedin"><i
                class="fa fa-github"></i></a></li>
        </ul>
      </div>
    </div>
  </section>
</body>

<footer>
  
</footer>
</html>