<!DOCTYPE html>
<html lang="en">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
<body>
  <div class="container-X-Large d-flex justify-content-end">
    <div class="compartilhar">
      <a href="" data-placement="top" title="Linkedin"><i class="fa fa-share-alt-square"></i></a>
    </div> 
  </div>
  <div class="container-X-Large">
    <div class="d-flex justify-content-center">
        <a>
          <img  class="logo" src="../../assets/logo.png" alt="logo">
        </a>
    </div>
    <h2>Pizzaria delivery</h2>
    <div class="d-flex justify-content-center">
      <div class="links"> 
        <div class="text-box">
          <a  class="btn btn-white btn- animate" routerLink="cardapio">Cardápio</a>
        </div>
        <section id="conteudo"></section>
        <div class="text-box">
          <a href="https://api.whatsapp.com/send?phone=5561995037896" class="btn btn-white btn-	animate">whatsapp</a>
        </div>
        <div class="text-box">
          <a href="#" class="btn btn-white btn-	 animate">instagram</a>
        </div>
      </div>
    </div>
  </div>
  <div class="googlemap p-3">
    <!-- https://codesandbox.io/s/2vp3t3?file=/src/app/app.component.ts -->
    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide1">
          <div class="card" style="width: 18rem;">
            <img src="../../assets/frango.jpeg" class="card-img-top" alt="...">
            <a href="#" class="btn btn-primary">Peça ja </a>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>

    <!-- Swiper JS -->
  </div>
  <!-- FOOTER SECTION START -->
  <section class="fn-footer">
    <!-- FOOTER BOTTOM -->
    <div class="d-flex flex-row justify-content-end">
      <div class="d-flex justify-content-start">
        <p>
          <span>&copy; euquias </span><a href="https://api.whatsapp.com/send?phone=5561991631462" target="_blank">Serviços
            de
            tecnologia</a>
        </p>
      </div>
      <div class="d-flex justify-content-end">
        <ul class="social-network">
          <li><a href="https://api.instagram.com/euquiasaraujo85" data-placement="top" title="instagram"><i
                class="fa fa-instagram"></i></a>
          </li>
          <li><a href="https://api.whatsapp.com/send?phone=5561991631462" data-placement="top" title="whatsapp"><i
                class="fa fa-whatsapp"></i></a></li>
          <li><a href="https://www.linkedin.com/in/euquias-araujo-326271219" data-placement="top" title="Linkedin"><i
                class="fa fa-linkedin"></i></a></li>
          <li><a href="https://github.com/euquias" data-placement="top" title="Linkedin"><i
                class="fa fa-github"></i></a></li>
        </ul>
      </div>
    </div>
  </section>
</body>

<footer>


</footer>

</html>