<router-outlet></router-outlet>
<section class="fn-footer">
  <div class="d-flex flex-row justify-content-end">
    <div class="d-flex justify-content-start">
      <p>
        <span>&copy;</span><a href="https://wa.me/5561991631462" target="_blank">Serviços de tecnologia</a>
      </p>
    </div>
    <div class="d-flex justify-content-end pessoal">
      <ul class="social-network">
        <li><a href="https://api.instagram.com/euquiasaraujo85" data-placement="top" title="instagram"><i
              class="fa fa-instagram"></i></a>
        </li>
        <li><a href="https://api.whatsapp.com/send?phone=5561991631462" data-placement="top" title="whatsapp"><i
              class="fa fa-whatsapp"></i></a></li>
        <li><a href="https://www.linkedin.com/in/euquias-araujo-326271219" data-placement="top" title="Linkedin"><i
              class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</section>