<div class="container">
  <nav>
    <div class="p-1 login d-flex justify-content-end">
      <a (click)="login()">Entrar</a>
    </div>
  </nav>

<div class="d-flex justify-content-center">
  <a>
    <img alt="logo" class="logo" src="../../assets/logo.png">
  </a>
</div>
<h2>Pizzaria delivery</h2>
<div class="d-flex justify-content-center">
  <app-informacao></app-informacao>
</div>
<div class="container-X-Large">
  <div class="d-flex justify-content-center">
    <div class="links">
      <div class="text-box">
        <a href="tel:+5561995037896" class="btn btn-white btn- animate">Ligar Agora</a>
      </div>
      <section id="conteudo"></section>
      <div class="text-box">
        <a class="btn btn-white btn-	animate" href="https://wa.me/5561995037896">whatsapp</a>
      </div>
      <div class="text-box">
        <a class="btn btn-white btn-	 animate"
          href="https://www.instagram.com/pizzariaafavoritta?r=nametag">instagram</a>
      </div>
    </div>
  </div>
</div>
</div>