<div class="d-flex justify-content-center">
  <a>
    <img class="logo" src="../../assets/logo.png" alt="logo">
  </a>
</div>
<div class="container-X-Large">
    <h2>Pizzaria delivery</h2>
    <div class="d-flex justify-content-center">
      <div class="links">
        <div class="text-box">
          <a class="btn btn-white btn- animate" routerLink="cardapio">Cardápio</a>
        </div>
        <section id="conteudo"></section>
        <div class="text-box">
          <a href="https://api.whatsapp.com/send?phone=5561995037896" class="btn btn-white btn-	animate">whatsapp</a>
        </div>
        <div class="text-box">
          <a href="#" class="btn btn-white btn-	 animate">instagram</a>
        </div>
      </div>
    </div>
  </div>
  <div class="carrossel p-3">
    <app-carrossel></app-carrossel>
  </div>