.snackbar{
    min-width: 250px;
    margin-left: -125px;
    background-color:#0caf0a;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}
.snackbarerro{
    min-width: 250px;
    margin-left: -125px;
    background-color:#d8013f;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;  
}