<table class="table">
  <thead>
    <tr>
      <th scope="col">Status</th>
      <th scope="col">Nº</th>
      <th scope="col">Nome</th>
      <th scope="col">Endereço</th>
      <th scope="col">numero</th>
      <th scope="col">Pedido</th>
      <th scope="col">pagamento</th>
      <th scope="col">valor</th>
      <th scope="col">Açoes</th>
      <th scope="col">Obs...</th>
    </tr>
  </thead>
  <tbody>
    <tr class="col-md-1" *ngFor="let ordem of ordems">
      <td class="col-md-1" (click)="statu(ordem.id)">
        <!--  -->
        <button type="button" class="btn btn-primary position-relative">
          {{ ordem.statu }}
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ ordem.created_at }}
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>
      </td>
      <td class="col-md-1">{{ ordem.id }}</td>
      <td class="col-md-1">{{ ordem.name }}</td>
      <td class="col-md-1">{{ ordem.address }}</td>
      <td class="col-md-1">{{ ordem.number }}</td>
      <td class="col-md-3">({{ordem.quantity}}x){{ordem.produto}}<p>{{ ordem.value | currency: "BRL":"symbol" }}</p>
      </td>
      <td class="col-md-3">{{ ordem.pagamento}}</td>
      <td class="col-md-1">{{ ordem?.total | currency: "BRL":"symbol" }}</td>
      <td class="col-md-3">
        <a>
          <i (click)="onedit(ordem.id)" aria-hidden="true" class="fa fa-print"></i>
          <i class="fa fa-trash" (click)="deletar(ordem.id)" aria-hidden="true">
          </i>
        </a>
      </td>
      <td class="col-md-1 of-obs" *ngIf="ordem.obs.length">
        <strong>{{ordem.obs}}</strong>
      </td>
      <td class="col-md-1 on-obs " *ngIf="!ordem.obs.length">
        nenhuma observação
      </td>
    </tr>
  </tbody>
</table>
<div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-bs-backdrop="static"
  data-bs-keyboard="false" id="staticBackdrop" tabindex="-1">
  <app-orden-model></app-orden-model>
</div>

<!-- <p>{{ordems | json}}</p> -->