
.fa-print{
    color: black;
    margin-right: 5px;
}
.fa-trash{
    color: rgb(230, 10, 10);
}
.fa-clock-o{
    color: rgb(230, 10, 10);
}
.fa-check-circle{
    color: rgb(10, 232, 10);
    margin-right: 5px;
}
p{
    color: rgb(230, 10, 10); 
}