<div class="d-flex justify-content-start">
  <a routerLink="">
    <img class="logo" src="../../assets/logo.png" alt="logo">
  </a>
  <h1 class="menu d-flex justify-content-center m-3">Menu</h1>
</div>
<ul class="nav nav-tabs p-2">
  <li class="nav-item">
    <a class="nav-link " routerLinkActive="active" aria-current="page" [routerLink]="['menu1']">Pizzas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " routerLinkActive="active" aria-current="page" [routerLink]="['menu2']">Bebidas</a>
  </li>
</ul>
<div class="d-flex justify-content-center">
  <router-outlet></router-outlet>
</div>
<div class="d-flex justify-content-center">
  <app-infor></app-infor>
</div>