

.menu {
   
    align-items: center;
    color: rgb(226, 43, 49);
}

.infor {
    margin-left: 200px;
}
i{
    color: #fff;
}
.fa-shopping-basket{
    font-size: 35px;
}
.cesto{
    color: red;
    font-size: 20px;
}