.fa-print {
  margin-right: 30px;
  font-size: 50px;
  color: rgb(35, 48, 143);
}

.fa-file-pdf-o {
  margin-right: 30px;
  font-size: 50px;
  color: rgb(255, 47, 47);
}

.fa-whatsapp {
  margin-right: 30px;
  font-size: 50px;
  color: greenyellow;
}

.button{
  margin-top: 10px;
}

.fa-ban {
  font-size: 50px;
  color: rgb(255, 47, 47);
}

.fa-ban:hover {
  color: black;
}

.troco{
  margin: 0%;
}
