<div class="d-flex justify-content-end">
    <ul class="social-network">
        <li><a href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-placement="top" title="instagram"><i
                    class="fa fa-clock-o"></i>Horários</a>
        </li>
        <li><a href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop1" data-placement="top" title="whatsapp"><i
                    class="fa fa-credit-card-alt"></i>pagamentos</a>
        </li>
        <li><a href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" data-placement="top" title="Linkedin"><i
                    class="fa fa-map-marker"></i>Retirada</a>
        </li>
    </ul>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Horário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Domingo: 17:30 as 22:30</p>
                <p>Segunda-Feira: 17:30 as 22:00</p>
                <p>Terça-Feira: 17:30 as 22:00</p>
                <p>Quarta-Feira: 17:30 as 22:00</p>
                <p>Quita-Feira: 17:30 as 22:00</p>
                <p>Sexta-Feira: 17:30 as 22:30</p>
                <p>Sabado: 17:30 as 22:30</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Pagamentos aceito na entrega</h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>   
            </div>
            <div class="modal-body">
                <a  *ngIf="testandoifelse; then thenblock; else elseblock">
                </a>
                <i class="fa fa-money " aria-hidden="true">
                    <p>Dinheiro</p>
                </i>
                <i class="fa fa-credit-card-alt">
                    <p>Debito</p>
                </i>
                <i class="fa fa-credit-card-alt">
                    <p>credito</p>
                </i>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Em frente ao balão do Mesquita, Cidade Ocidental</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4559.14791170064!2d-47.85730143841108!3d-16.077361856333905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93598fef2e56df1d%3A0x8cb22bcf04053c43!2sPizzaria%20A%20Favoritta!5e0!3m2!1spt-BR!2sbr!4v1664563088233!5m2!1spt-BR!2sbr"
                    width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>

<ng-template #thenblock>
    <p>CPF: 05554768121
        <a >
            <i class="fa fa-files-o" (click)="copyMessage('05554768121')" value="click to copy " alt="copiar">
            </i>
        </a>
    </p>
</ng-template>
<ng-template #elseblock>
    <p class="copiado">Copiado com sucesso
        <i class="fa fa-check-square-o" aria-hidden="true">
        </i>
    </p>class="pix"
</ng-template>