.social-network a {
    color: #fff;
}

.social-network a:hover {
    color: red;
}
a{
    text-decoration: none;
      
}
.social-network a:hover {
    text-decoration: none;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

.social-network i {
    margin-top: 25px;
    font-size: 20px;
    margin-right: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.fa-money{
    
 margin: 10px;
}
.fa-credit-card-alt{
    margin: 10px;
}
.fa-check-square-o{
    color: greenyellow;
}
.copiado{
    color: greenyellow;
}