<div class="contener">

  <form  #form="ngForm" class="row g-3 needs-validation" novalidate>
    <div class="col-md-4 m-1">
      {{ form.value | json }}
      <label for="validationTooltip01" class="form-label d-flex justify-content-start"><strong>Nome:</strong></label>
      <input type="text" class="form-control" id="validationTooltip01" required placeholder="Nome">
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 m-1 ">
      <label for="validationTooltip01" class="form-label d-flex justify-content-start"> <strong>E-mail:</strong></label>
      <input type="text" class="form-control" id="validationTooltip01" required placeholder="E-mail">
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>

    <div class="row p-2">
      <div class="col-md-2 position-relative">
        <label for="validationTooltip01" class="form-label d-flex justify-content-start"><strong>Senha:</strong></label>
        <input type="password" class="form-control" id="validationTooltip01" required>
        <div class="valid-tooltip">
          Looks good!
        </div>
      </div>

      <div class="col-md-2 position-relative">
        <label for="validationTooltip01" class="form-label d-flex justify-content-start"><strong>Confirmar
            senha</strong></label>
        <input type="password" class="form-control" id="validationTooltip01" required>
        <div class="valid-tooltip">
          Looks good!
        </div>
      </div>
    </div>
    <div class="adm/fun m-1">
      <div class="col-md-1 form-check ">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Administrador?</label>
      </div>
      <div class="col-md-1 form-check" >
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Colaborador?</label>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-start m-3">
      <button type="button" class="btn btn-primary col-md-2 m-1">Salvar</button>
      <button type="button" class="btn btn-secondary col-md-2 m-1">Cancelar</button>
    </div>
  </form>
  <div class="card col-sm-12 col-md-12 p-3">
    <app-usuario-exibir></app-usuario-exibir>
  </div>
</div>