<form>
  <div class="mb-3">
    <label class="form-label">Nome</label>
    <input
      aria-describedby="emailHelp"
      class="form-control"
      id="exampleInputEmail1"
      type="email"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Descriçao</label>
    <input
      aria-describedby="emailHelp"
      class="form-control"
      id="exampleInputEmail1"
      type="email"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Imgem (url)</label>
    <input
      aria-describedby="emailHelp"
      class="form-control"
      id="exampleInputEmail1"
      type="email"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">categoria</label>
    <input
      aria-describedby="emailHelp"
      class="form-control"
      id="exampleInputEmail1"
      type="email"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">altor</label>
    <input
      aria-describedby="emailHelp"
      class="form-control"
      id="exampleInputEmail1"
      type="email"
    />
  </div>
  <button class="btn btn-primary" type="submit">Salvar</button>
</form>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Codigo</th>
    <th scope="col">Nome</th>
    <th scope="col">descriçao</th>
    <th scope="col">Açao</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Nome</td>
    <td>Otto</td>
    <td>@mdo</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Caminho</td>
    <td>Thornton</td>
    <td>@fat</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td colspan="2">Larry the Bird</td>
    <td>@twitter</td>
  </tr>
  </tbody>
</table>
