<div class="container">
  <div class="grid">
    <div class="row">

      <div class="card m-3 col-sm-6 col-md-4 col-lg-3">
        <img src="../../../../assets/Coca.png" class="card-img-top" alt="..." style="width: 10rem;"
          style="height: 10rem;">
        <div class="card-body">
          <h5 class="card-title">Coca Cola</h5>
          <p class="card-text">R$:29,00</p>
          <a href="#" class="btn btn-primary">Adicionar</a>
        </div>
      </div>
      <div class="card m-3 col-sm-6 col-md-4 col-lg-3">
        <img src="../../../../assets/fanta.png" class="card-img-top" alt="..." style="width: 10rem;"
          style="height: 10rem;">
        <div class="card-body">
          <h5 class="card-title">Fanta Laranja</h5>
          <p class="card-text">R$:29,0029,00</p>
          <a href="#" class="btn btn-primary">Adicionar</a>
        </div>
      </div>
      <div class="card m-3 col-sm-6 col-md-4 col-lg-3" >
        <img src="../../../../assets/uva.png" class="card-img-top" alt="..." style="width: 10rem;"
          style="height: 10rem;">
        <div class="card-body">
          <h5 class="card-title">Fanta Uva</h5>
          <p class="card-text">R$:8,00</p>
          <a href="#" class="btn btn-primary">Adicionar</a>
        </div>
      </div>
      <div class="card m-3 col-sm-6 col-md-4 col-lg-3" >
        <img src="../../../../assets/sprit.png" class="card-img-top " alt="..." style="width: 10rem;"
          style="height: 10rem;">
        <div class="card-body">
          <h5 class="card-title">sprit</h5>
          <p class="card-text">R$:8,00</p>
          <a href="#" class="btn btn-primary">Adicionar</a>
        </div>
      </div>
      <div class="card m-3 col-sm-6 col-md-4 col-lg-3">
        <img src="../../../../assets/Coca.png" class="card-img-top" alt="..." style="width: 10rem;"
          style="height: 10rem;">
        <div class="card-body">
          <h5 class="card-title">Coca Cola</h5>
          <p class="card-text">R$:29,00</p>
          <a href="#" class="btn btn-primary">Adicionar</a>
        </div>
      </div>
      <div class="card m-3 col-sm-6 col-md-4 col-lg-3">
        <img src="../../../../assets/Coca.png" class="card-img-top" alt="..." style="width: 10rem;"
          style="height: 10rem;">
        <div class="card-body">
          <h5 class="card-title">Coca Cola</h5>
          <p class="card-text">R$:29,00</p>
          <a href="#" class="btn btn-primary">Adicionar</a>
        </div>
      </div>
    </div>
  </div>
</div>
 