<div *ngFor="let option of options">
  <div class="form-check">
    <input (click)="setvalue(option.value)" [class.checked]="option.value === value" class="form-check-input"
      id="flexRadioDefault2" name="flexRadioDefault" type="radio">
    <label class="form-check-label" for="flexRadioDefault2">
      {{option.label}}
    </label>
  </div>
</div>

<form>
  <div class="mb-1">
    <label for="exampleInputEmail1" class="form-label">Troco</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

</form>