<!-- <swiper [slidesPerView]="3" [spaceBetween]="3" [slidesPerGroup]="3" [loop]="true" [loopFillGroupWithBlank]="true"
  [pagination]="{
      clickable: true
    }" [navigation]="true" class="mySwiper">
  <ng-template swiperSlide>
    <div class="card" style="width: 15rem;">
      <img src="../../assets/promocao1.png" class="card-img-top" alt="pizza">
      <a href="https://wa.me/5561995037896?text=Ola boa noite! gostaria pedir essa promoção: pizza calabreza mais refrigerante por R$:35,00"
        target="_blank" class="btn btn-primary">Peça já </a>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="card" style="width: 15rem;">
      <img src="../../assets/promocao2.png" class="card-img-top" alt="pizza">
      <a href="https://wa.me/5561995037896?text=Ola boa noite! gostaria pedir essa promoção: pizza calabreza mais refrigerante por R$:35,00"
        target="_blank" class="btn btn-primary">Peça já </a>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="card" style="width: 15rem;">
      <img src="../../assets/promocao3.png" class="card-img-top" alt="pizza">
      <a href="https://wa.me/5561995037896?text=Ola boa noite! gostaria pedir essa promoção: pizza calabreza mais refrigerante por R$:35,00"
        target="_blank" class="btn btn-primary">Peça já </a>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="card" style="width: 15rem;">
      <img src="#" class="card-img-top" alt="pizza">
      <a href="https://wa.me/5561995037896?text=Ola boa noite! gostaria pedir essa promoção: pizza calabreza mais refrigerante por R$:35,00"
        target="_blank" class="btn btn-primary">Peça já </a>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="card" style="width: 15rem;">
      <img src="#" class="card-img-top" alt="pizza">
      <a href="https://wa.me/5561995037896?text=Ola boa noite! gostaria pedir essa promoção: pizza calabreza mais refrigerante por R$:35,00"
        target="_blank" class="btn btn-primary">Peça já </a>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="card" style="width: 15rem;">
      <img src="#" class="card-img-top" alt="pizza">
      <a href="https://wa.me/5561995037896?text=Ola boa noite! gostaria pedir essa promoção: pizza calabreza mais refrigerante por R$:35,00"
        target="_blank" class="btn btn-primary">Peça já </a>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="card" style="width: 15rem;">
      <img src="#" class="card-img-top" alt="pizza">
      <a href="https://wa.me/5561995037896?text=Ola boa noite! gostaria pedir essa promoção: pizza calabreza mais refrigerante por R$:35,00"
        target="_blank" class="btn btn-primary">Peça já </a>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="card" style="width: 15rem;">
      <img src="#" class="card-img-top" alt="pizza">
      <a href="https://wa.me/5561995037896?text=Ola boa noite! gostaria pedir essa promoção: pizza calabreza mais refrigerante por R$:35,00"
        target="_blank" class="btn btn-primary">Peça já </a>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="card" style="width: 15rem;">
      <img src="#" class="card-img-top" alt="pizza">
      <a href="https://wa.me/5561995037896?text=Ola boa noite! gostaria pedir essa promoção: pizza calabreza mais refrigerante por R$:35,00"
        target="_blank" class="btn btn-primary">Peça já </a>
    </div>
  </ng-template>
</swiper> -->

<div class="card-group">
  <div class="card m-2">
    <img src="../../assets/promocao1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="https://wa.me/5561995037896?text=Ola boa noite! gostaria pedir essa promoção: pizza calabreza mais refrigerante por R$:32,99"
        target="_blank" class="btn btn-primary">Peça já </a>
    </div>
  </div>
  <div class="card m-2">
    <img src="../../assets/promocao2.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="https://wa.me/5561995037896?text=Ola boa noite! gostaria pedir essa promoção: pizza prezunto grande mais calabresa medía por R$:50,00"
      target="_blank" class="btn btn-primary">Peça já </a>
    </div>
  </div>
  <div class="card m-2">
    <img src="../../assets/promocao1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="https://wa.me/5561995037896?text=Ola boa noite! gostaria pedir essa promoção: pizza calabreza mais refrigerante por R$:32,99"
        target="_blank" class="btn btn-primary">Peça já </a>
    </div>
  </div>
</div>