<div class="carousel slide" data-bs-ride="true" id="carouselExampleIndicators">
  <div class="carousel-indicators">
    <button aria-current="true" aria-label="Slide 1" class="active" data-bs-slide-to="0"
            data-bs-target="#carouselExampleIndicators" type="button"></button>
    <button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#carouselExampleIndicators"
            type="button"></button>
    <button aria-label="Slide 3" data-bs-slide-to="2" data-bs-target="#carouselExampleIndicators"
            type="button"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a
        class="btn btn-white btn-	animate"
        href="https://wa.me/5561995037896?text=Olá boa noite. Gostaria de pedir essa promoção: pizza refrigerante por apenas R$:32,99">
        <img alt="..." class="d-block w-100" src="../../assets/promocao2.webp">
      </a>
    </div>
    <div class="carousel-item">
      <img alt="..." class="d-block w-100" src="../../assets/promocao3.png">
    </div>
    <div class="carousel-item">
      <img alt="..." class="d-block w-100" src="../../assets/Pizza.png">
    </div>
  </div>
  <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators" type="button">
    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleIndicators" type="button">
    <span aria-hidden="true" class="carousel-control-next-icon"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


