<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link " aria-current="true">
          <i class="cesto fa fa-shopping-basket" aria-hidden="true"></i>
          Pedido
        </a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="row" *ngFor="let item of items()">
      <p class="card-text col-9">({{item.quantity}}x) {{item.menu.name}}</p>
      <p class="card-text col-3">{{item.value() | currency: "BRL":"symbol"}}</p>
    </div>
    <div class="card-footer">
      <div class="row">
        <h3 class="card-text col-md-6">Total:</h3>
        <h3 class="card-text col-md-6"><strong>{{ total() | currency: "BRL":"symbol" }} </strong></h3>
      </div>
    </div>
      <a class="btn btn-primary" [routerLink]="['/detalhes']">Fechar compra</a>
  </div>
</div>