<div class="container md-8 sm-3 text-center p-4">
    <div class="row">
        <div class="col">
            <div class="card ">
                <div class="card-header">
                    <div class="nav">
                        <h4>Tem certeza que deseja cancelar esse Pedido</h4>
                    </div>
                    <div class="col-md-10">
                        <label for="validationCustom02" class="form-label">Nome</label>
                        <input type="text" class="form-control" [(ngModel)]="ordems.name" name="name" disabled>
                    </div>
                    <div class="status sm-12 p-4 m-3" ng-controller="ExampleController">
                        <select class="form-select" aria-label="Default select example"   [(ngModel)]="ordems.statusId" name="categoryId" ng-model="categoria.name">
                            <option *ngFor="let itens of status" value="{{itens.id}}">{{itens.statu}}</option>
                        </select>
                    </div>
                    <div class="nav justify-content-start">
                        <div class="btm">
                            <button type="button" class="btn btn-warning m-1" (click)="salvar()">Salvar</button>
                            <button type="button" class="btn btn-danger m-1" (click)="cancel()">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>